.wrapper {
  display: flex;
  align-items: center;
  background: var(--color-black);
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid transparent;
  margin-bottom: 14px;
  margin-top: 0;
}

.active {
  border: 2px solid var(--color-black);
}
.active .checkbox {
  background: var(--color-green);
}
.active .content {
  color: var(--color-black);
}

.checkbox {
  width: 22px;
  height: 22px;
  background: transparent;
  border: 1px solid var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.check {
  font-size: 14px;
  color: var(--color-black) !important;
}

.content {
  color: var(--color-black);
  font-size: 14px;
  margin-left: 10px;
}