.container {
   background: linear-gradient(to right, #373C43 0%, #25282D 100%);
   border-radius: 10px;
   margin-top: 42px;
   padding: 24px 44px 38px 44px;
   margin-bottom: 70px;
}
.titleBox {
   display: flex;
   justify-content: space-between;
   margin-bottom: 36px;
}
.titleBox div {
   display: flex;
   align-items: center;
   gap: 18px;
}
.title {
   color: var(--color-white);
   font-size: 20px;
   font-weight: 900;
}
.button {
   padding: 10px 12px;
   color: var(--color-white);
   font-size: 16px;
   border: 1px solid var(--color-white);
   border-radius: 4px;
   background: transparent;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.button:hover {
   cursor: pointer;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.button:active {
   transform: scale(0.95);
}
.cardsList {
   display: flex;
   gap: 16px;
   justify-content: space-between;
}
.cardsList li {
   width: 440px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   padding-bottom: 16px;
   display: flex;
   flex-direction: column;
}
.cardsList li:hover {
   transform: scale(1.05);
   cursor: pointer;
}
.cardsList li img {
   width: 100%;
   margin-bottom: 18px;
   height: 228px;
   border-radius: 10px;
   object-fit: cover;
}
.cardsList li p {
   color: var(--color-white);
   font-size: 20px;
   font-weight: 900;
   margin-bottom: 12px;
   margin-left: 12px;
}
.cardsList li span {
   color: var(--color-white);
   opacity: 70%;
   font-size: 16px;
   font-weight: 400;
   margin-left: 12px;
   display: inline-block;
   margin-bottom: 8px;
}
.cardsList li span:last-child {
   color: var(--color-green);
   font-size: 16px;
   font-weight: 900;
   opacity: 100%;
}