.container{
   margin: 78px 0 88px 0;
   position: relative;   
}
.title {
   color: #fff;
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 24px;
   text-align: start;
}
.container ul {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   gap: 18px;
}
.button {
   position: absolute;
   top: 10px;
   right: 10px;
}

/* new */
/* стрелки */
.advertisingBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #F5F5F5;
  color: 797878;
  font-size: 32px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:  transform 0.2s;
  border: 2px solid orange;

}

.advertisingBtn:active {
  transform: translateY(-50%) scale(0.95);
}

.advertisingBtn.prev {
  left: 8px;
}

.advertisingBtn.next {
  right: 8px;
}

/* точки */
.advertisingDots {
  position: absolute;
  bottom: 58px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 6px;
  border: 2px solid orange;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--bg-gray);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
