.header {
  background: var(--bg-header);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}
.container {
  box-sizing: border-box;
  max-width: 1640px;
  height: 64px;
  margin: 0 auto;
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoNavInputWrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
